.app-container
    display: flex
    min-height: 100%

    main
        flex: 1
        padding: 1rem
        margin-left: 250px
        min-height: 100%

    @media (max-width: 767px)
        flex-direction: column-reverse
        
        main
            margin-left: 0
            margin-bottom: 4rem
