<nav [class.mobile]="isMobile()" class="nav-container">
    <ul class="nav-list">
        <li>
            <a routerLink="/overview" routerLinkActive="active">
                <i class="nav-icon"><img src="assets/images/icon-nav-overview.svg" alt="Transactions Icon" class="nav-icon-svg"></i>
                <!-- <span>Overview</span> -->
            </a>
        </li>
        <li>
            <a routerLink="/transactions" routerLinkActive="active">
                 <i class="nav-icon"><img src="assets/images/icon-nav-transactions.svg" alt="Transactions Icon" class="nav-icon-svg"></i>
                <!-- <span>Transactions</span> -->
            </a>
        </li>
        <li>
            <a routerLink="/budget" routerLinkActive="active">
                <i class="nav-icon"><img src="assets/images/icon-nav-budgets.svg" alt="Budget Icon" class="nav-icon-svg"></i>
                <!-- <span>Budgets</span> -->
            </a>
        </li>
        <li>
            <a routerLink="/pots" routerLinkActive="active">
                <i class="nav-icon"><img src="assets/images/icon-nav-pots.svg" alt="Pots Icon" class="nav-icon-svg"></i>
                <!-- <span>Pots</span> -->
            </a>
        </li>
        <li>
            <a routerLink="/recurring-bills" routerLinkActive="active">
                <i class="nav-icon"><img src="assets/images/icon-nav-recurring-bills.svg" alt="Recurring Bills Icon" class="nav-icon-svg"></i>
                <!-- <span>Recurring Bills</span> -->
            </a>
        </li>
    </ul>
</nav>